html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  cursor: default;
  vertical-align:baseline;
  background:transparent;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	color: #aaa;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper{
	display: table;
	table-layout: fixed;
	padding: 0;
	width: 100%;
	position: absolute;
	background-color: #dbdbea;
}

.row {
	display: table-row;
	max-height: 250px;
	padding:0;
	font-size: 0;
	margin: 0;
}

.pane {
	display: table-cell;
	width: 490px;
	margin: 0;
	font-size: 30px;
	background-color: #000;
}

.separator {
	display: table-cell;
	width: 5px;
	background-color: #dbdbea;
}

.panetitle{
	background-color: #333;
	height: auto;
	text-align: center;
	font-size: 100%;
	color: #fff;
}

.canvas-container{
	position: relative;
	max-width: 512px;
	min-width: 320px;
	max-height: 300px;
	margin: 0 auto;
}

.drumspace {
	width: 500px;
	height:280px;
	margin-top: 20px;
	font-size: 60%;
}

@media (max-width:1024px) and (min-width:600px) { 
	.drumspace {
		width: 400px;
		height:200px;
		margin-top: 10px;
		font-size: 50%;
	}
}

#HorizLine {
	left: 0px;
	position: relative;
	margin-bottom: 0;
	border-bottom: 5px solid #dbdbea;
	width: 100%;
	height: 1px;
	overflow: hidden;
}

#PlayBtn {
	position: absolute;
	width: 120px;
	height: 120px;
	top:50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -60px;
	border-radius: 50%;
	-webkit-box-shadow: 5px 5px 40px 30px rgba(0,0,0,0.87);
	-moz-box-shadow: 5px 5px 40px 30px rgba(0,0,0,0.87);
	box-shadow: 5px 5px 40px 30px rgba(0,0,0,0.87);
}

#PlayBtn p {
	margin-top: 25px;
	font-size: 24px;
}

.task-btns {
	position: absolute;
	height: auto;
	right:0;
	top: 0;
	font-size: 0px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

#done-btn {
	font-size: 30px;
	padding: 5px 10px;
	display: inline-block;
}

#pause-btn {
	font-size: 30px;
	padding: 5px 10px;
	display: inline-block;
	background-color: #34BB62;
}

#pause-btn:hover {
	background-color: #13B048;
}

#pause-btn:active {
	background-color: #078933;
}

.btn {
	background-color: #FF6347;
	color: #fff;
	text-align: center;
}

.btn:hover {
	background-color: #F74728;
}

.btn:active {
	background-color: #DB381A;
}

#topbar {
	position: relative;
	padding-top: 5px;
	height: 40px;
	background-color: #d3d3d3;
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top, #d3d3d3 0%, #dbdbea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#dbdbea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d3d3d3 0%,#dbdbea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d3d3d3 0%,#dbdbea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d3d3d3 0%,#dbdbea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d3d3d3 0%,#dbdbea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D3D3', endColorstr='#dbdbea',GradientType=0 ); /* IE6-9 */
}

#timeline {
	height: 10px;
	margin-right: 330px;
	margin-left: 10px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#timeline > span  {
display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #34BB62;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

/* list view */
.drumspace.listview {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 520px;
	margin-top: 10px;
}

.drumspace.listview > div {
	height: 14000px;
}

.mute-btn {
	vertical-align: text-top;
	width: 30px;
	height: 30px;
	margin-left: 20px;
}